# Path to Firebase Admin SDK service account key JSON file
GOOGLE_APPLICATION_CREDENTIALS=serviceAccountKey.json

# MongoDB Connection
MONGO_URI=mongodb+srv://<user>:<password>@cluster0.lm4dgzz.mongodb.net/?appName=Cluster0

# Encryption Key for storing GitHub tokens (Generate with: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())")
ENCRYPTION_KEY=your_fernet_key_here